<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="#" class="brand">Treebook</a>
				<ul class="nav"></ul>
				<li class="active"><a href="#">Home</a></li>
				      <li><a href="#">Link</a></li>
				      <li><a href="#">Link</a></li>
					<!-- <li> <%= link_to "All Statuses", statuses_path %></li> -->
			</div>
		</div>
	</div>
	
	<div class = "container">
		<%= yield %>
	</div>
	
=======

<%= yield %>

>>>>>>> d2dfc68f10c8fa08e7704effcde7b310295a8b79
</body>
</html>
